.btn{
  width: 200px;
  height: 50px;
  margin: 15px;
  background-color: rgb(238, 37, 70);
  border-radius: 20px;
  color: rgb(118, 218, 255);
  font-size: large;
}
.btn:hover{
  box-shadow: 1px 1px rgb(83, 214, 250);
}

.text1{
  font-size: larger;
  font-weight: bolder;
  
}

body{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 200px;
  background-color: black;
  color: white;
}